*{
    margin: 0;
    padding: 0;
    font-family: Arial, 'Courier New', Courier, monospace, sans-serif;


}


#informações{
    display: flex;
    background-color: blue;
    width: 80%;
    height: 30rem;
    /* border: solid 0.5px red; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem;
    color: rgb(255, 255, 255);
}
    
    .cabecalho{
    color: blueviolet;

}

img{
    width: 300px;
}


li{list-style-type: none;}
.foto{
    order: 2;
    width: 50%;
    text-align: center;
    padding: 7%;
}
#perfil{order: 1;
    width: 50%;
    justify-content: center;
    text-align: center;}
    
    .infos{
        margin-top: 5rem;
    }
    .infos2{
        color: white;
        fill: white;
        text-align: left;
    margin-left: 50px;
    margin-top: 35px;
    margin-bottom: 54px;
    }
    .icons{
        flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    svg{
        display: inline-block;
    }
    p{
        display: inline-block;
        font-size: 1.2rem;
    }
    h3{
        font-size: 2rem;
    }
    #education{
        margin-top: 50px;
        font-size: 3rem;
        text-shadow: 0 0 0.15em rgb(6 6 6);
    }
    .educa{
        padding: 2%;
        width: 76%;
        border-left: 1.5rem solid rgb(255, 8, 8);
        margin-left: 10%;
        font-size: 2rem;
        box-shadow: 0 0 1em rgb(90, 90, 97);
        margin-top: 2rem;
    }
    .infos2 li{
        padding-bottom: 1vh;
    }
    @media only screen and (max-width: 767px){
        #informações{
            background-color:#F4A460;
            position: relative;
            display: block;
           
            text-align: center;
            height: 30rem;
        /* border: solid 0.5px red; */
         margin-left: auto;
             margin-right: auto;
                margin-top: 6.25rem;
            color: rgb(255, 255, 255);
        }
        h3{
            font-size: 2rem;
        }
        img {width: 40%;}
        
        .foto{align-items: center; 
            position: relative;
            bottom: 14%;
            justify-content: center;
             display: flex;}
        
    
        .infos{
            margin-top: -50px;
        }
        .foto{
            width: 100%;
            padding: 0%;
        }
        #perfil{
            width: 100%;
        }
        h1{
           font-size:  2rem;
        }
    }